---
- name: Remove legacy repo
  ansible.builtin.apt_repository:
    repo: "deb https://artifacts.elastic.co/packages/{{ journalbeat_major_version }}.x/apt stable main"
    filename: elastic
    update_cache: false
    state: absent
  tags:
    - journalbeat

- name: Remove legacy key
  ansible.builtin.apt_key:
    id: 46095ACC8548582C1A2699A9D27D666CD88E42B4
    state: absent
  tags:
    - journalbeat

- name: Download repo key
  register: journalbeat_key_download
  ansible.builtin.get_url:
    url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    dest: "{{ journalbeat_keyring }}.asc"
    mode: u=rw,g=r,o=r
    force: true
  tags:
    - journalbeat

- name: Check repo key
  register: journalbeat_key_status
  ansible.builtin.stat:
    path: "{{ journalbeat_keyring }}"
  tags:
    - journalbeat

- name: Dearmor repo key
  when:
    - journalbeat_key_download.changed or not journalbeat_key_status.stat.exists
  register: journalbeat_key_convert
  changed_when: journalbeat_key_convert.rc == 0
  ansible.builtin.command:
    cmd: "gpg --dearmor -o {{ journalbeat_keyring }} {{ journalbeat_keyring }}.asc"
  tags:
    - journalbeat

- name: Add apt repository
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ journalbeat_keyring }}] https://artifacts.elastic.co/packages/{{ journalbeat_major_version }}.x/apt stable main"
    filename: elastic
    update_cache: true
    state: present
  tags:
    - journalbeat

- name: Install required packages
  loop:
    - journalbeat
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - journalbeat

- name: Drop reference config
  ansible.builtin.file:
    path: /etc/journalbeat/journalbeat.reference.yml
    state: absent
  tags:
    - journalbeat

- name: Write general config
  notify:
    - Restart journalbeat
  ansible.builtin.copy:
    content: "{{ journalbeat_config_combined }}"
    dest: /etc/journalbeat/journalbeat.yml
    validate: "{{ journalbeat_test_config_command }}"
    owner: root
    group: root
    mode: u=rw,g=,o=
  tags:
    - journalbeat

- name: Start journalbeat service
  ansible.builtin.systemd:
    name: journalbeat
    state: started
    daemon_reload: true
    masked: false
    enabled: true
  tags:
    - journalbeat

...
