name: {{ journalbeat_name }}
tags: {{ journalbeat_tags | to_yaml | trim }}

journalbeat.inputs:
  {{ (journalbeat_default_inputs + journalbeat_group_inputs + journalbeat_host_inputs) | to_nice_yaml(indent=2) | indent(width=2, first=False) | trim }}
{% if (journalbeat_default_processors + journalbeat_group_processors + journalbeat_host_processors) | length > 0 %}

processors:
  {{ (journalbeat_default_processors + journalbeat_group_processors + journalbeat_host_processors) | to_nice_yaml(indent=2) | indent(width=2, first=False) | trim }}
{% endif %}
{% if journalbeat_logstash_enabled %}

output.logstash:
  enabled: {{ journalbeat_logstash_enabled | lower }}
  hosts: {{ journalbeat_logstash_hosts | to_yaml | trim }}
{% endif %}
{% if journalbeat_console_enabled %}

output.console:
  enabled: {{ journalbeat_console_enabled | lower }}
{% endif %}

logging.level: {{ journalbeat_logging_level }}
logging.to_files: {{ journalbeat_logging_to_files | lower }}
logging.selectors: {{ journalbeat_logging_selectors | to_yaml | trim }}
